.box {
  flex: 0 0 calc(33.33% - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 2rem 1.5rem 3rem;
  width: 270px;
  min-width: 270px;
}

.boxLight {
  background-color: var(--background-color-0);
  box-shadow: -5px 5px 10px var(--background-color-3);
}

.boxDark {
  background-color: var(--background-color-10);
}

.box__name {
  font-size: 2rem;
  font-weight: 700;
  margin: 0rem auto 2rem;
  text-align: center;
}

.box__nameLight {
  color: var(--background-color-5);
}

.box__nameDark {
  color: var(--background-color-2);
}

.box__price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.5rem;
  padding: 2rem 0;
  width: 140%;
  border-radius: 10rem;
}

.box__priceLight {
  background-color: var(--background-color-6);
  box-shadow: inset 0 0 20px 5px var(--background-color-5);
  color: var(--background-color-0)
}

.box__priceDark {
  background-color: var(--background-color-0);
  color: var(--background-color-11)
}

.box__offers {
  font-size: 1.5rem;
  line-height: 3rem;
  list-style-position: inside;
  margin: 2.5rem auto 0;
  color: var(--background-color-2);
}

.offer__condition {
  list-style-type: none;
}

.offer__condition::before {
  content: "\25CB";
  margin-right: 8px;
}