.landing-page,
.examples,
.pricing {
  width: 70%;
}

.landingPage__box {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 10px;
  margin: 10vh 0 5vh;
}

.landingPage_title {
  font-weight: 700;
  letter-spacing: -0.05rem;
  font-size: 4.6vmax;
  font-style: italic;
  line-height: 1.3em;
  align-self: center;
}

.landingPage_title b {
  font-style: normal;
  font-weight: 800;
}

.last__b {
  text-decoration: underline;
  background-image: var(--background-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0;
}

.landingPage__img {
  background-color: var(--background-color-5);
  height: 85vh;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}